body{
    background-color: rgba(39, 38, 45, 0.89);
    background: antiquewhite;
}
header{
    display:flex;
   align-items: center;
}
.content{
    float: right;
    width: 25%;
   
}


